.comment {
 font-style: italic;
 color: dimgrey;
}
.verb {
 color: darkred;
}
.string {
 color: purple;
}
.include {
 color: blue;
}
ul {
 margin: 0px 0px 0px 1em;
}
.line {
 font-style: normal;
 font-weight: normal;
}
