.comment {
 font-style: italic;
 color: dimgrey;
}
.verb {
 color: darkred;
}
.string {
 color: purple;
}
.include {
 color: blue;
}
ul {
 margin: 0px 0px 0px 1em;
}
.line {
 font-style: normal;
 font-weight: normal;
}
img.icon {
 max-width: 128px;
 margin: 2px;
}
img.icon:hover {
 float: right;
 max-width: inherit;
 border: 1px solid black;
 margin: 1px;
}
